
.cellRed{
background: red !important;
}
.cellGreen{
background: green !important;
}

.navSel{
font-size: 2.5rem;
margin-bottom: 5px;
background-color:#318700;

}

body{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
font-size: 14pt !important;
}

.navbar-nav{
line-height: 40px;
height: 45px;
}

#contact{
font-size: 16pt;
background-color: white;
}

.section-header{
padding: 10px;
text-align: center;
font-size: 4rem;
}

#contactSelect{
height: 40px;
width: 60%;

}
.form-control{
font-size: 14pt !important;
}

.titleSel{
padding-left: 2%;
}