
.cellRed{
background: red !important;
}
.cellGreen{
background: green !important;
}

.navSel{
font-size: 2.5rem;
margin-bottom: 5px;
background-color:#318700;

}

body{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
font-size: 14pt !important;
}

.navbar-nav{
line-height: 40px;
height: 45px;
}

#contact{
font-size: 16pt;
background-color: white;
}

.section-header{
padding: 10px;
text-align: center;
font-size: 4rem;
}

#contactSelect{
height: 40px;
width: 60%;

}
.form-control{
font-size: 14pt !important;
}

.titleSel{
padding-left: 2%;
}

#yearSelect{
height: 40px;
width: 155px;
}

#NYsel{
height: 40px;
width: 155px;
}

#companySelect{
height: 40px;
width: 60%;
}

.nopad{
padding-left: 0 !important;
border-left: 0 !important;
}

.input-group-addon{
width:60px;
background-color: lightgrey;
}

.dropdown-toggle{
border: 1px solid #ccc;
border-radius: 4px;
background-color: lightgrey;
height: 45;
width: 80px;
}
.page-number-count{
padding-left: 7px;
}

#unitSelect{
height: 40px;
width: 155px;
}
#copyYearSelect{
height: 40px;
width: 155px;
}


.letterBtn{
height: 50px;
width: 130px;
font-size: 14px !important;
}